.footer {
  padding-top: 10px;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  height: 70px;
  background-color: #C3142D;
  text-align: center;
}

.twitter {
  padding-left: 35px;
  padding-top: 10px;
  padding-right: 20px;
  height: 45px;
  width: auto;

}
